language: cpp

os:
  - linux

# Use Ubuntu 18.04 LTS (Bionic) as the Linux testing environment.
dist: bionic

git:
  depth: 1

branches:
  only:
    - ocl-open-130

env:
  global:
    - LLVM_VERSION=13
  matrix:
    - BUILD_TYPE=Release
    - BUILD_TYPE=Debug

before_install:
  - curl -L "https://apt.llvm.org/llvm-snapshot.gpg.key" | sudo apt-key add -
  - echo "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic main" | sudo tee -a ${TRAVIS_ROOT}/etc/apt/sources.list
  - sudo apt-get update
  - sudo apt-get -yq --no-install-suggests --no-install-recommends install
      llvm-${LLVM_VERSION}-dev
      llvm-${LLVM_VERSION}-tools
      libclang-${LLVM_VERSION}-dev
      libclang-cpp${LLVM_VERSION}-dev

install:
  - git clone https://github.com/KhronosGroup/SPIRV-LLVM-Translator.git spirv-llvm-translator -b llvm_release_${LLVM_VERSION}0
  - mkdir spirv-llvm-translator/build && cd spirv-llvm-translator/build
  - cmake .. -DCMAKE_INSTALL_PREFIX=./install -DBUILD_SHARED_LIBS=ON -DLLVM_BUILD_TOOLS=ON -DCMAKE_BUILD_TYPE=${BUILD_TYPE}
  - make -j`nproc` && make install
  - cd ../../

compiler:
  - gcc
  - clang

script:
  - mkdir build && cd build
  - cmake -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DLLVM_NO_DEAD_STRIP=ON -DLLVMSPIRV_INCLUDED_IN_LLVM=OFF -DSPIRV_TRANSLATOR_DIR=${TRAVIS_BUILD_DIR}/spirv-llvm-translator/build/install -DCMAKE_INSTALL_PREFIX=./install ..
  - make install
