/*****************************************************************************\

Copyright (c) Intel Corporation (2009-2017).

    INTEL MAKES NO WARRANTY OF ANY KIND REGARDING THE CODE.  THIS CODE IS
    LICENSED ON AN "AS IS" BASIS AND INTEL WILL NOT PROVIDE ANY SUPPORT,
    ASSISTANCE, INSTALLATION, TRAINING OR OTHER SERVICES.  INTEL DOES NOT
    PROVIDE ANY UPDATES, ENHANCEMENTS OR EXTENSIONS.  INTEL SPECIFICALLY
    DISCLAIMS ANY WARRANTY OF MERCHANTABILITY, NONINFRINGEMENT, FITNESS FOR ANY
    PARTICULAR PURPOSE, OR ANY OTHER WARRANTY.  Intel disclaims all liability,
    including liability for infringement of any proprietary rights, relating to
    use of the code. No license, express or implied, by estoppel or otherwise,
    to any intellectual property rights is granted herein.

  \file common_clang.rc

\*****************************************************************************/

#include <windows.h>
#include <buildversion.h>

#ifdef RC_INVOKED

VS_VERSION_INFO "1.0"
FILEVERSION     "1.0"
PRODUCTVERSION  "1.0"
FILETYPE       VFT_DLL

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription" ,"Intel(R) Frontend Library for OpenCL*"
            VALUE "ProductName"     ,"Intel(R) OpenCL(TM)"
            VALUE "LegalCopyright"  ,"Copyright \251 2017 Intel Corporation.  All rights reserved."
            VALUE "FileVersion"     ,"1.0"
            VALUE "ProductVersion"  ,"1.0"

            VALUE "CompanyName"     ,"Intel Corporation"
            VALUE "InternalName"    ,"Intel(R) OpenCL(TM) "
#ifdef RESOURCE_X64
            VALUE "OriginalFilename","common_clang64.dll"
#else
            VALUE "OriginalFilename","common_clang32.dll"
#endif
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        // extend this line for localized versions
        VALUE "Translation", 0x0409, 0x04E4
    END
END

#endif
