// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

//
// Module with OpenCL C declarations with corresponding headers
//

OPENCL_C_H                PCM   "opencl-c.h"
OPENCL_C_BASE_H           PCM   "opencl-c-base.h"