# ===---
# Workflow run for regular SPIRV-LLVM-Translator and LLVM compatibility check
# ===---

name: Scheduled verification
run-name: Scheduled verification

on:
  schedule:
    # Run Sunday & Wednesday at 00:00
    - cron: 0 0 * * 0,3

jobs:

  verify-default-branches:
    runs-on: ubuntu-22.04
    steps:

      - name: Checkout opencl-clang sources for action files availabilty
        uses: actions/checkout@v3

      - name: Run build-opencl-clang action
        uses: ./.github/actions/build-opencl-clang
        with:
          ref_llvm: main
          ref_translator: main
          ref_opencl-clang: master

  verify-release-branches:
    strategy:
      matrix:
        llvm_version: [ 10, 11, 12, 13, 14, 15 ]
    runs-on: ubuntu-22.04
    steps:

      - name: Checkout opencl-clang sources for action files availabilty
        uses: actions/checkout@v3

      - name: Run build-opencl-clang action
        uses: ./.github/actions/build-opencl-clang
        with:
          ref_llvm: release/${{ matrix.llvm_version }}.x
          ref_translator: llvm_release_${{ matrix.llvm_version }}0
          ref_opencl-clang: ocl-open-${{ matrix.llvm_version }}0
